In [1]:
import pandas as pd
df = pd.read_csv("data.csv")

In [2]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [3]:
df.email

0            malders0@shop-pro.jp
1              hharridge1@gnu.org
2           ekilminster2@etsy.com
3                gbrantl3@umn.edu
4             kbeasant4@jigsy.com
                  ...
995          derrigorn@elpais.com
996         arastallro@toplist.cz
997    bstickelsrp@cloudflare.com
998        ptesoerq@rakuten.co.jp
999         rpringuerrr@house.gov
Name: email, Length: 1000, dtype: object

In [4]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [5]:
df.loc[10:13]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [12]:
df.set_index("email", inplace = True)

In [14]:
df.loc["malders0@shop-pro.jp"].values.tolist()

[np.int64(1),
 '03/28/2021',
 'Marylin',
 'Alders',
 'Male',
 '160.119.8.119',
 'Canada',
 '$5.36',
 np.float64(nan)]

In [18]:
df.loc[["jmorillasc@miibeian.gov.cn", "cvassied@unblog.fr"]]

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
jmorillasc@miibeian.gov.cn,13,03/05/2021,Janice,Morillas,Female,24.25.198.252,Canada,$5.30,20.0
cvassied@unblog.fr,14,03/24/2021,Cull,Vassie,NaN,18.203.61.94,France,$5.97,20.0